.Normal {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:13px;text-decoration:none;text-transform: none;color:#000000;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_1 {font-size:18px;color:#000000;}
.NewStyle1 {font-family:Arial;color:#000000;}
.TopBanner_heading {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:20.46px;text-decoration:none;text-transform: none;color:#FFFFFF;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Normal_text {font-family:'Calibri';font-weight:normal;font-style:normal;font-size:14.67px;text-decoration:none;text-transform: none;color:#000000;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.List_Paragraph {}
.Heading_2 {font-weight:bold;font-size:15px;color:#000000;}
